<h1>Students profile</h1>
<h1>..................................................</h1>
<h1>FirstName: <%= @student.name %></h1>
<h1>LastName: <%= @student.lastname %></h1>
<h1>Age: <%= @student.age %></h1>
<h1>Gender: <%= @student.gender %></h1>
<h1>Phoneno: <%= @student.phoneno %></h1>
<h1>Email: <%= @student.email %></h1>
<h1>Address: <%= @student.address %></h1>
<h1>Subject: <%= @student.subject %></h1>

